:root{
    --mainColor: #2381D2;
}

.bodyRegisterUser{
    height: 100vh;
    background-image: url('./img/backgroundLoginRegister.jpg');
    background-size: cover;
}
.bodyRegisterUser h1{
    margin: 0;
}
.background{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.579);
    z-index: 0;
    display: flex;
}
/* temporário */
.left, .right{
    position: relative;
    z-index: 5;
    width: 50%;
    height: 100%;
}
.left{
    float: left;
}
.left .description{
    height: 300px;
    width: 400px;
    color: aliceblue;
}
.left h1, .left p{
    margin: 40px;
    font-weight: bold;
}
.left p{
    width: fit-content;
    border-bottom: 2px solid white;
}
.right{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right form{
    width: 90%;
    height: 60%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 4px 6px 10px 0px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.right form .box-inputs{
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.box-inputs input{
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 2px solid #2381D2;
}
.box-inputs input:focus{
    outline: none;
    border-radius: 10px;
    border: 1px solid #2381D2;
    background-color: #2380d23d;
    border-bottom: 2px solid #2381D2;
    transition: .5s;
}
.right button{
    margin-top: 10px;
    padding: 5px 50px 5px 50px;
    border-radius: 5px ;
}